[Unit]
Description={{ istota_namespace | capitalize }} browser watchdog timer (every {{ istota_browser_watchdog_interval }}s)

[Timer]
OnBootSec={{ istota_browser_watchdog_interval }}
OnUnitActiveSec={{ istota_browser_watchdog_interval }}
AccuracySec=5s

[Install]
WantedBy=timers.target
